* {
    padding: 0;
    margin: 0;
}

#header {
    margin: auto;
    width: 31.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 0.6rem 1rem; /*LARGO Y ANCHO*/
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.nav > li { /*Los li directos de nav*/
    float:left; /*se utiliza para hacer que un elemento se desplace hacia la izquierda dentro de su contenedor*/
}

.nav li ul {
    display: none; /*Con esto los submenus desaparecen*/
    position: absolute;
    min-width: 8.75rem;
}

.nav li:hover > ul {
    display: block;
}