/* ESTILOS PARA TODAS LAS PÁGIANAS */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    list-style: none;
}

body {
    background-color: #efefce;
}

/* ------------------------ INICIO DE ESTILOS DEL NAVBAR ------------------------- */ 

#navbar {
    background: #bd5d31;
    background: linear-gradient(45deg, #bd5d31 0%, #c4a278 77%);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.nav {
    width: 50rem;
}

.nav li a {
    margin-right: 1rem;
    background-color: #0000003b;
    color: #fff;
    text-decoration: none;
    padding: 0.6rem 1rem; /*LARGO Y ANCHO*/
    display: block;
}

.nav li a:hover {
    background-color: #60825c;
}

.nav > li { /*Los li directos de nav*/
    float:left; /*se utiliza para hacer que un elemento se desplace hacia la izquierda dentro de su contenedor*/
}

.nav li ul {
    display: none; /*Con esto los submenus desaparecen*/
    position: absolute;
    min-width: 8.75rem;
}

.nav li:hover > ul {
    display: block;
}

/* Logo */
.logo img {
    width: 10%;
    border-radius: 40%;
    border: 0.1rem solid #07220b;
}

/* Icono de usuario para iniciar sesión-LOGIN */
.icon-user {
    margin-right: 2rem;
    text-decoration: none;
    color: #624a0c;
    display: inline-block;
    transition: transform 0.2s, color 0.2s;
}
.icon-user:hover {
    transform: scale(1.2);
    color: #146639; 
}

/* ------------------------ FINAL DE ESTILOS DEL NAVBAR ------------------------- */ 


/* ------------------------ INICIO DE ESTILOS DEL INDEX ------------------------- */ 

/* Estilo del banner */
.banner-index {
    background-image: url('../img/inicio.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 6rem 1rem;
}

/* Estilo del texto dentro del banner */
.text-banner {
    max-width: 35rem;
    margin: 0 auto;
}

.text-banner h1 {
    font-family: 'Pacifico', cursive; 
    color: #17b617;
    font-size: 5rem;
}

.text-banner h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #b7e021;
    font-size: 2rem;
    font-weight: 100;
}

/* Estilo de los botones */
.buttons {
    display: flex;
    justify-content: center;
}

.buttons-login button {
    padding: 0.6rem 1.25rem;
    margin: 1rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 0.2rem solid #8f8d1e;
    border-radius: 0.5rem;
    background-color: #3ba215;
    color: #fff;
    transition: transform 0.2s, color 0.2s;
}

.buttons-login button a {
    text-decoration: none;
    color: #ffffff;
}

.buttons-login button:hover {
    padding: 0.6rem 1.25rem;
    margin: 1rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 0.2rem solid #6c6a17;
    border-radius: 0.5rem;
    background-color: #2f7a13;
    color: #fff;
    transform: scale(1.2);
}
/* ------------------------ FINAL DE ESTILOS DEL INDEX ------------------------- */ 


/* ------------------------ INICIO DE ESTILOS DE LA PAGINA DE INICIO/HOME ------------------------- */ 

.seccion-nuevos {
    margin: 4rem 0;
}

.tittle-home{
    text-align: center;
    margin: 1rem;
    background-color: #bd3d0f3c;
    padding: 1rem;
}
.tittle-cards{
    text-align: center;
}

/* Estilos de las cards/grid en general de la sección */
.playlist-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columnas*/
    margin: 2rem;
    gap: 2rem; /* Espacio entre las cards. No encontré otra forma de hacerlo :(*/
}

/* Cards individuales */
.card {
    background-color: #a47c6d; 
    border: 0.2rem dashed #000000; 
    border-radius: 10%;
    text-align: center;
    padding: 1rem;
}
.card img {
    width: 100%; 
}
.card figcaption {
    margin: 1.5rem;
    font-weight: bold;
}

/* ------------------------ FINAL DE LOS ESTILOS DE LA PAGINA DE INICIO ------------------------- */ 

/* ------------------------ INICIO DE LOS ESTILOS DE LA PÁGINA DE LOGIN Y REGISTRO ------------------------- */

 /* Estilos para los formularios */
.formulario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    background-color: #c7eb7d;
    padding: 1rem; 
    width: 50%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #24e40f50;
}

.formulario h2 {
    text-align: center;
    padding: 0 0 1rem 0;
}

.formulario form {
    padding: 0 2.5rem;
    box-sizing: border-box;
}

/* Estilos de los inputs y sus botones */
.username,
.password, 
.mail {
    margin: 1rem 0;
    border-bottom: 0.025rem solid #000000;
}

.recordar {
    font-size: 1rem;
    color: #800880;
}

div input {
    width: 100%;
    padding: 0 0.2rem;
    height: 2.5rem;
    font-size: 1rem;
    border: none;
    background: none;
    outline: none;
}

.btn-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5rem 0;
}

.btn-iniciar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 2rem;
    margin: 2rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border: 0.2rem solid #8f8d1e;
    border-radius: 1rem;
    background-color: #a26015;
    color: #fff;
    transition: transform 0.2s, color 0.2s;
}

.btn-iniciar:hover {
    background-color: #536609;
    transform: scale(1.2);
}

.registrarse {
    margin: 0.5rem 0;
    text-align: center;
    font-size: 0.8rem;
}

.registrarse a {
    color: #0000ff;
    text-decoration: none;
}

.registrarse a:hover {
    color: #9900ff;
    text-decoration: underline;
}

.loguearse {
    margin: 0.5rem 0;
    text-align: center;
    font-size: 0.8rem;  
}

.loguearse a {
    color: #0000ff;
    text-decoration: none;
}

.loguearse a:hover {
    color: #9900ff;
    text-decoration: underline;
}

/* ------------------------ FINAL DE LOS ESTILOS DE LA PÁGINA DE LOGIN Y REGISTRO ------------------------- */ 


/* ------------------------ INICIO DE LOS ESTILOS DEL DASHBOARD ------------------------- */

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
    background-color: #f3f7eb;
    height: 26rem;
}

.panel {
    padding: 3rem;
    text-align: center;
    background-color: #dfe7d0;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem #0000001a;
}

.panel i {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.fas.fa-user:hover,
.fas.fa-lock:hover,
.fas.fa-address-book:hover,
.fas.fa-guitar:hover,
.fas.fa-gear:hover,
.fas.fa-calendar-days:hover {
    color: #ffb700;
    cursor: pointer;
}

/* ------------------------ FINAL DE LOS ESTILOS DEL DASHBOARD ------------------------- */

/* ------------------------ INICIO DE LOS ESTILOS DEL REPRODUCTOR DE MUSICA ------------------------- */

.music-player {
    text-align: center;
    width: 30rem;
    background-color: #dfe7aa;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #0000001a;
    margin: 5rem auto; 
}
  
.img-album {
    width: 15rem;
    height: 15rem;
    background-color: #000000;
    border-radius: 50%;
    margin: 0 auto 1rem;
}

.song-info h2 {
    margin: 0;
}
  
.controls button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 0.4rem;
}
  
.progress-bar {
    height: 0.2rem;
    background-color: #000000;
    margin-top: 2rem;
  }
/* ------------------------ FINAL DE LOS ESTILOS DEL REPRODUCTOR DE MUSICA ------------------------- */

/* ------------------------ INICIO DE ESTILOS DE LA PAGINA DE ARTISTAS ------------------------- */

/* Encabezado */
.page-header {
    text-align: center;
    padding: 2rem;
    background-color: #744924;
    color: #fff;
  }
  
.artists-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 1rem; /* ES EL ESPACIO ENTRE LAS COLUMNAS*/
    padding: 3rem;
  }
  
.artist-card {
    text-align: center;
    margin: 0;
  }
  
.artist-card img {
    width: 100%;
    height: 50%;
    object-fit: cover; /* Mantener proporciones y cubrir el espacio asignado */
    border-radius: 20%;
  }
  
.artist-card h2 {
    margin: 0.5rem 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
.artist-card button {
    background-color: #8db417;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 100%;
    margin: 1rem 0 0 0;
  }

/* ------------------------ FINAL DE ESTILOS DE LA PAGINA DE ARTISTAS  ------------------------- */ 


/* ------------------------ INICIO DE LOS ESTILOS DEL PERFIL  ------------------------- */ 

/* ESTILOS DE LA PARTE DEL HEADER */
.artist-header {
    background-color: #ddd; 
    padding: 1rem;
    color: #333;
    height: 50vh;
  }
  
.header-profile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.artist-info {
    display: flex;
    align-items: center;
    margin: 2rem 0 0 2.5rem;
  }
  
.profile-picture {
    margin-right: 1rem;
}
  
.profile-picture img {
    width: 100%;
    height: 10rem; 
    border-radius: 50%;
}
  
.follow-buttons button {
    background-color: #864003; 
    color: #fff; 
    border: none;
    padding: 0.5rem 1rem;
    margin: 15rem 1rem 0 0;
    cursor: pointer;
    border-radius: 0.3rem;
}
  
  .follow-buttons button:hover {
    background-color: #c26e2e; 
}

/* ESTILOS DEL CONTENIDO DEL PERFIL */
.profile-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main-profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
}

/* .recent-playlists,
.top-artists,
.additional-content {
    padding: 1rem;
    margin-bottom: 1rem;
} */

.sidebar {
    width: 20%;
    height: 50%;
    background-color: #dda2a2;
    margin: 1rem;
    margin-right: 0rem;
}

.sidebar-nav {
    padding: 1rem;
}

.links-perfil li {
    margin: 3rem 0;
    list-style: none;
}

.titulos-perfil {
    margin: 1.5rem 2rem;
}

.card-prof {
    margin: 0.5rem 0 0.5rem 2rem;
    width: 70%;
    background-color: #ddb4a5; ; 
    border-radius: 10%;
    text-align: center;
    padding: 1rem;

}
.card-prof img {
    width: 100%; 
}

/* ------------------------ FINAL DE LOS ESTILOS DEL PERFIL  ------------------------- */ 

/* ------------------------ INICIO DE ESTILOS DEL FOOTER ------------------------- */ 

/* Estilo general del footer */

body {
    font-family: sans-serif;
    text-transform: capitalize; /*Siempre empieza con mayuscula */
}

.container {
    max-width: 75rem;
    max-height: 8rem;
    margin: 0 auto;
}

.footer {
    background: #894323;
    background: linear-gradient(45deg, #bca07e 0%, #a75028 77%); 
    padding: 5rem 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap; /*cuando no haya espacio, lo tira para abajo */
}

.footer-links {
    width: 25%;
    padding: 0 1rem;
}

.footer-links h4 {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 1.5rem;
    font-weight: 700;
    border-bottom: 0.1rem solid #989566;
    padding-bottom: 0.5rem;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 0.9rem;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #fff;
    padding-left: 0.3rem;
}

.social-links a {
    display: inline-block;   
    min-height: 2.5rem;
    width: 2.5rem;
    background-color: #f5fad633;
    margin: 0 0.6rem 0.6rem 0;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 50%;
    color: #fff;
    transition: all .5s ease;
}

.social-links a:hover {
    background-color: #e3be18;
}

/* ------------------------ FINAL DE ESTILOS DEL FOOTER -------------------------

