/* ESTILOS PARA TODAS LAS PÁGIANAS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: #efefce;
}


/* ------------------------ INICIO DE ESTILOS DEL NAVBAR ------------------------- */ 

/* Estilo de la navbar en general */
.navbar {
    background: #bd5d31;
    background: linear-gradient(45deg, #bd5d31 0%, #c4a278 77%);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo del icono menú */
.menu-nav { 
    margin-left: 2rem;
    transition: transform 0.2s, color 0.2s;
    text-decoration: none;
    color: #624a0c;
}
.menu-nav:hover { 
    transform: scale(1.2);
    color: #146639; 
}

/* Logo */
.logo {
    width: 5%;
    border-radius: 40%;
    border: 0.2rem solid #07220b;
}

/* Icono de usuario para iniciar sesión-LOGIN */
.icon-user {
    margin-right: 2rem;
    text-decoration: none;
    color: #624a0c;
    display: inline-block;
    transition: transform 0.2s, color 0.2s;
}
.icon-user:hover {
    transform: scale(1.2);
    color: #146639; 
}

/* ------------------------ FINAL DE ESTILOS DEL NAVBAR ------------------------- */ 


/* ------------------------ INICIO DE ESTILOS DEL INDEX ------------------------- */ 

/* Estilo del banner */
.banner-index {
    background-image: url('../img/inicio.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 6rem 1rem;

}

/* Estilo del texto dentro del banner */
.text-banner {
    max-width: 35rem;
    margin: 0 auto;
  }

h1 {
    font-family: 'Pacifico', cursive; 
    color: #ceffdc;
    font-size: 5rem;
}

.subtitle {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #c9f5dd;
    font-size: 2rem;
    font-weight: 100;
}

/* Estilo de los botones */
.buttons {
    display: flex;
    justify-content: center;
  }

.login-button,
.guest-button {
    padding: 0.6rem 1.25rem;
    margin: 1rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 0.2rem solid #8f8d1e;
    border-radius: 0.5rem;
    background-color: #3ba215;
    color: #fff;
    transition: transform 0.2s, color 0.2s;
}

.login-button:hover,
.guest-button:hover {
    padding: 0.6rem 1.25rem;
    margin: 1rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 0.2rem solid #6c6a17;
    border-radius: 0.5rem;
    background-color: #2f7a13;
    color: #fff;
    transform: scale(1.2);
}
/* ------------------------ FINAL DE ESTILOS DEL INDEX ------------------------- */ 


/* ------------------------ INICIO DE ESTILOS DE LA PAGINA DE INICIO ------------------------- */ 

.playlist-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columnas*/
    margin: 2rem;
    gap: 2rem; /* Espacio entre las cards. No encontré otra forma de hacerlo :(*/
}

/* Cards individuales */
.card {
    background-color: #a47c6d; 
    border: 0.2rem dashed #000000; 
    border-radius: 10%;
    text-align: center;
    padding: 1rem;
}
.card img {
    width: 100%; 
}
.card figcaption {
    margin: 1.5rem;
    font-weight: bold;
}

/* ------------------------ FINAL DE LOS ESTILOS DE LA PAGINA DE INICIO ------------------------- */ 

/* ------------------------ INICIO DE LOS ESTILOS DE LA PÁGINA DE LOGIN Y REGISTRO ------------------------- */

 /* NUEVOS ESTILOS PARA EL FORMULARIO */
 .formulario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    background-color: #b3e64c; 
    padding: 5rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem #0000001a;
}

.formulario h2 {
    text-align: center;
    padding: 0 0 1rem 0;
}

.formulario form {
    padding: 0 2.5rem;
    box-sizing: border-box;
}

input {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 0.1rem solid #E8B871;
    border-radius: 0.5rem;
}

.btn-inicio {
    padding: 0.6rem 1.25rem;
    margin: 1rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 0.2rem solid #8f8d1e;
    border-radius: 0.5rem;
    background-color: #a26015;
    color: #fff;
    transition: transform 0.2s, color 0.2s;
}

button:hover {
    background-color: #536609;
}

/* ------------------------ FINAL DE LOS ESTILOS DE LA PÁGINA DE LOGIN Y REGISTRO ------------------------- */ 

/* ------------------------ INICIO DE ESTILOS DEL FOOTER ------------------------- */ 

/* Estilo general del footer */
.footer {
    background: #894323;
    background: linear-gradient(45deg, #bca07e 0%, #a75028 77%); 
    text-align: center;
    padding: 1rem;
    color: #fff; 
}

/* Redes */
.fa-brands.fa-facebook.fa-2x,
.fa-brands.fa-youtube.fa-2x,
.fa-brands.fa-instagram.fa-2x,
.fa-brands.fa-discord.fa-2x {
    color: #fff;
    margin: 0.5rem;
    transition: transform 0.2s, color 0.2s;
}

.fa-brands.fa-facebook.fa-2x:hover {
    transform: scale(1.2);
    color: #0e06b2;
}
.fa-brands.fa-youtube.fa-2x:hover {
    transform: scale(1.2);
    color: #ff0000;
}
.fa-brands.fa-instagram.fa-2x:hover {
    transform: scale(1.2);
    color: #ff006a;
}
.fa-brands.fa-discord.fa-2x:hover {
    transform: scale(1.2);
    color:#928cff
}

/* ------------------------ FINAL DE ESTILOS DEL FOOTER -------------------------

